@font-face {
  font-family: 'Hk Grotesk';
  src: url("HKGrotesk-Light.otf"), "css/HKGrotesk-Light.otf";
}

.rellax {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

/******************* Link Underline Style *******************/
/************************************************************/
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:link,
a:visited {
  color: #eee;
  text-decoration: none;
}

.sliding-u-l-r-l {
  display: inline-block;
  position: relative;
  border: 2px solid #ddd;
  border-bottom: 0;
  padding: 10px 20px 8px 20px;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 400;
  transition: background .75s ease;
  font-size: 12px;
}

.sliding-u-l-r-l:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: width 0s ease, background .75s ease, color .75s ease;
}

.sliding-u-l-r-l:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background: linear-gradient(#ddd, #eee);
  /* Standard syntax */
  transition: width .5s ease;
}

.sliding-u-l-r-l:hover {
  background: #eee;
}

.sliding-u-l-r-l:hover:before {
  width: 100%;
  background: linear-gradient(#ddd, #eee);
  /* Standard syntax */
  transition: width .5s ease;
}

.sliding-u-l-r-l:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}

body {
  background: #2f2f2f;
}

h1 {
  margin-top: .5em;
}

#door {
  background: url("../img/contact.jpg") no-repeat 60% top;
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
}

.logo img {
  max-width: 100%;
}

html {
  font-size: .8em;
}

body {
  font-family: 'Hk Grotesk', Helvetica, san-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  font-weight: 300;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  transition: .4s;
}

p {
  font-size: 15px;
}

h1, h2, h3 {
  font-family: 'Hk Grotesk', Helvetica, san-serif;
  font-style: normal;
  color: #ccc;
}

h1 {
  font-weight: 300 !important;
  font-size: 2.8em;
  line-height: 1.15em;
  letter-spacing: 0px;
}

h2 {
  font-weight: 300 !important;
  font-size: 2em;
  line-height: 1.15em;
  letter-spacing: -0px;
}

h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: 0px;
  color: #bbb;
  padding-bottom: 10px;
}

.container-fluid {
  z-index: 1;
}

#contact {
  padding-top: 30%;
}

#clients {
  padding-top: 20%;
}

#hero {
  padding-top: 30px;
  padding-bottom: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: -10;
}

.grid {
  z-index: -10 !important;
  position: fixed;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-line {
  height: 100vh;
  border-left: 1px solid #444;
}

#centered {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#carousel {
  height: 300px;
}

#herobg {
  background: transparent;
}

#herocontent {
  z-index: 0;
}

.flexbox-container-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#category {
  transition: .6s linear;
}

#thoughts {
  padding-top: 30px;
  padding-bottom: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: relative;
  z-index: 2;
  background: #fff;
}

#thoughts h2 {
  margin-bottom: 10px;
}

#thoughts p {
  font-size: 1.3em;
}

#greybg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 50vh;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(25px);
      -ms-transform: translateY(25px);
          transform: translateY(25px);
}

#sayhi {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact {
  padding-top: 8%;
  padding-bottom: 8%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#projects {
  background: white;
}

#info {
  position: absolute;
  bottom: 0;
}

a {
  color: #999999;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

nav a {
  color: #333333;
  transition: .6s;
}

nav a:hover {
  color: #ffffff !important;
  padding-left: 35px;
  text-decoration: none;
}

#imageswap {
  background-image: url("../img/me.jpg");
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

#right {
  z-index: 100;
}

#descriptor {
  text-align: left;
}

.Aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Aligner-item--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/******************* Tablet Breakpoint Styling ***************/
/************************************************************/

#sayhi {
  padding-top: 15%;
  padding-bottom: 15%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 50%;
}

#contact {
  padding-top: 8%;
  padding-bottom: 8%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#projects {
  background: white;
}

#info {
  position: absolute;
  bottom: 0;
}

a {
  color: #999999;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

nav a {
  color: #333333;
  transition: .6s;
}

nav a:hover {
  color: #ffffff !important;
  padding-left: 35px;
  text-decoration: none;
}

#imageswap {
  min-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.Aligner {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.Aligner-item--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/******************* mobile specific ***************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
/************************************************************/
@media (min-width: 768px) {

  html {
    font-size: .9em;
    overflow-x: hidden;
  }

  body {
    font-family: 'Hk Grotesk', Helvetica, san-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    font-weight: 300;
    line-height: 1.75em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
    transition: .4s;
  }

  p {
    font-size: 1em;
  }

  h1, h2, h3 {
    font-family: 'Hk Grotesk', Helvetica, san-serif;
    font-style: normal;
    color: #ccc;
  }

  h1 {
    font-weight: 300 !important;
    font-size: 3em;
    line-height: 1.15em;
    letter-spacing: 0;
  }

  h2 {
    font-weight: 300 !important;
    font-size: 3.5em;
    line-height: 1.15em;
    letter-spacing: 0;
  }

  h3 {
    font-size: 1em;
    line-height: 0em;
    letter-spacing: 0px;
    color: #bbb;
    padding-bottom: 8px;
  }

  #contact {
    padding-top: 30%;
  }

  #clients {
    padding-top: 20%;
  }

  #hero {
    height: 100VH;
    padding-bottom: 100px;
    -ms-flex-line-pack: center;
    align-content: center;
    padding-top: 60px;
  }

  #carousel {
    height: 450px;
    background-image: url("../img/build-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translateY(75px);
    -ms-transform: translateY(75px);
    transform: translateY(75px);
  }

  #herobg {
    background: url("../img/bck.jpg") no-repeat;
    margin: 0;
    height: 100VH;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: .25;
  }

  #herocontent {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flexbox-container-mid {
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #work {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 110VH;
    transition: background .4s linear;
  }

  #door {
    padding-bottom: 0;
    background-position: 50% top;
  }

  #descriptor {
    text-align: right;
    padding-left: 18%;
    padding-top: 5%;
  }

  #anchors {
    -webkit-transform: translateY(350px);
    -ms-transform: translateY(350px);
    transform: translateY(350px);
  }

  #category {
    transition: .6s linear;
  }

  #thoughts {
    padding-top: 10%;
    padding-bottom: 10%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: transparent;
  }

  #copy {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  #greybg {
    position: absolute;
    left: 0;
    top: -50px;
    width: 80VW;
    height: 100%;
    background: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@media (max-width: 768px) {

  .grid .col-md-2 {
    width: auto;
  }

  a.logo img {
    max-width: 200px;
    margin-bottom: 20px;
  }

  #thoughts {
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
    background: #fff url(../img/build-2.png) no-repeat -84px top;
    border-top: 10px solid #6E4920;
    color: #000;
    font-weight: 400;
  }

  #thoughts h2 {
    font-weight: 700 !important;
    color: #000;
    font-size: 1.4em;
  }

  #greybg {
    background: transparent;
  }

  #hero {
    padding-left: 20px;
    padding-top: 1em;
    padding-bottom: 2em;
    background: url(../img/m-bck.png) no-repeat -150px center;
  }

  #hero h1 {
    color: #fff;
    font-size: 2.5em;
  }

  #hero > .flexbox-container-mid {
    padding-top: 25px;
  }
}
@media (max-width: 420px) {

  #hero {
    padding-top: 6em;
    padding-bottom: 8em;
  }
}
